Source: fstab.d
Section: config
Priority: extra
Maintainer: Jeremy Leibs <leibs@willowgarage.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: fstab.d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Package containing 
Provides: ${diverted-files}
Conflicts: ${diverted-files}
